Repository Bwillia13x/Nexus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{json,css,md,mdx}": ["prettier --write"]
}

docs(readme): add analytics & consent env vars; expand prod env docs\nchore(lint): migrate from next lint to eslint CLI\nchore: run prettier
  README.md
  package.json
Due: prettier --write

chore(husky): remove deprecated v9 shim lines; use lint-staged directly
  .husky/pre-commit
Due: none

Update sitemap with new last modified timestamps
  public/sitemap-0.xml
Due: none

Enhance accessibility, mobile UX, and add breadcrumb navigation
  UI_UX_IMPROVEMENTS_SUMMARY.md
  app/about/page.tsx
  app/cases/page.tsx
  app/contact/page.tsx
  app/layout.tsx
  app/services/page.tsx
  components/Breadcrumb.tsx
  components/CaseStudiesOverview.tsx
  components/ContactForm.tsx
  components/Footer.tsx
  components/Hero.tsx
  components/Nav.tsx
  components/ServicesOverview.tsx
  public/sitemap-0.xml
  styles/globals.css
  styles/tokens.css
  tailwind.config.js
Due: prettier --write, eslint --fix

Force push: Replace main branch with current build
  app/about/page.tsx
  app/cases/page.tsx
  app/contact/page.tsx
  app/layout.tsx
  app/page.tsx
  app/services/page.tsx
  components/CaseStudiesOverview.tsx
  components/ContactForm.tsx
  components/Hero.tsx
  components/Nav.tsx
  components/ServicesOverview.tsx
  styles/globals.css
Due: prettier --write, eslint --fix

about: align hero/EndCTA with site-wide styles (mesh, container, gradient title, btn-secondary, CTA sizing/shadows); fix ESLint
  app/about/_components/AboutHero.tsx
  app/about/_components/EndCTA.tsx
Due: prettier --write, eslint --fix

chore: migrate lint to ESLint CLI, add .eslintignore, and update Husky pre-commit; re-run lint/type-check/smoke (a11y) — all green
  .eslintignore
  .husky/pre-commit
  package.json
Due: prettier --write

About: unify hero heading gradient; simplify copy; lint fix in trust section. Verified via lint, type-check, build, and smoke (incl. a11y).
  app/about/_components/AboutHero.tsx
  app/about/content.ts
Due: prettier --write, eslint --fix

chore: sync local workspace snapshot; force replace remote main
  NEXUSAI_DEVELOPMENT_ROADMAP.md
  public/sitemap-0.xml
  tsconfig.tsbuildinfo
Due: prettier --write

book: replace scheduler placeholder with simple email booking form; add a11y, validation, and analytics; wire into /book page
  app/book/_components/SimpleBookingForm.tsx
  app/book/page.tsx
  tsconfig.tsbuildinfo
Due: prettier --write, eslint --fix

feat: homepage accessibility and typography polish
  app/book/_components/SchedulerEmbed.tsx
  app/home/_components/CaseStudiesSection.tsx
  app/home/_components/ContactSection.tsx
  app/home/_components/EarlyAdopterSection.tsx
  app/home/_components/FAQSection.tsx
  app/home/_components/HomeHero.tsx
  app/home/_components/HowItWorksSection.tsx
  app/home/_components/IntegrationsSection.tsx
  app/home/_components/LeadMagnetSection.tsx
  app/home/_components/SecuritySection.tsx
  app/home/_components/ServicesGrid.tsx
  components/ContactForm.tsx
  public/sitemap-0.xml
  scripts/smoke.mjs
  styles/globals.css
  tsconfig.tsbuildinfo
Due: prettier --write, eslint --fix

chore(a11y/services): finalize accessibility + lint cleanup (aria-busy string values, Prettier fixes); lint/type-check/build/smoke pass
  app/book/_components/SchedulerEmbed.tsx
  app/book/_components/SimpleBookingForm.tsx
  app/services/_components/CompareTable.tsx
  app/services/_components/ProcessSteps.tsx
  app/services/_components/ServiceHero.tsx
  app/services/_components/ServicePanel.tsx
  app/services/page.tsx
  components/ContactForm.tsx
  public/sitemap-0.xml
  scripts/smoke.mjs
Due: prettier --write, eslint --fix

a11y: standardize ARIA attrs; convert About sections to semantic lists
  app/about/_components/AboutHero.tsx
  app/about/_components/BackgroundAndMetrics.tsx
  app/about/_components/IdentityCards.tsx
  app/about/_components/MediaKit.tsx
  app/about/_components/PrinciplesGrid.tsx
  app/about/_components/ResourcesDownloads.tsx
  app/about/_components/SecurityPanel.tsx
  app/about/_components/Speaking.tsx
  app/book/_components/SchedulerEmbed.tsx
  app/book/_components/SimpleBookingForm.tsx
  app/playbooks/_content.ts
  app/playbooks/page.tsx
  app/training/_content.ts
  app/training/page.tsx
  components/ContactForm.tsx
  components/short-inquiry/ShortInquiryModal.tsx
  public/sitemap-0.xml
  tsconfig.tsbuildinfo
Due: prettier --write, eslint --fix

feat(scheduler): make /book canonical; redirect /schedule; update CTAs to /book; footer prefers in-site scheduler; update sitemap + smoke tests
  app/schedule/page.tsx
  components/ContactForm.tsx
  components/Footer.tsx
  components/MobileStickyCTA.tsx
  components/Nav.tsx
  env.example
  next-sitemap.config.js
  next.config.js
  scripts/smoke.mjs
Due: prettier --write, eslint --fix

Perf: add SVG sprite builder and SpriteIcon; swap frequent icons (home hero/nav/services grid) to sprite; keep other icons as standalone SVGs; build ok
  app/home/_components/HomeHero.tsx
  app/home/_components/QuickLinks.tsx
  app/home/_components/ServicesGrid.tsx
  components/ui/SpriteIcon.tsx
  public/icons-sprite.svg
  public/sitemap-0.xml
  scripts/build_svg_sprite.mjs
  tsconfig.tsbuildinfo
Due: prettier --write, eslint --fix

Perf: migrate remaining small icons to SVG sprite across About/Services/Playbooks/FAQ/Training; add npm scripts to trace+sprite and hook sprite build in postbuild; build passes
  app/about/_components/AboutHero.tsx
  app/about/_components/EngagementTimeline.tsx
  app/about/_components/FounderSnapshot.tsx
  app/about/_components/IdentityCards.tsx
  app/about/_components/MediaKit.tsx
  app/about/_components/PrinciplesGrid.tsx
  app/about/_components/ResourcesDownloads.tsx
  app/about/_components/SecurityPanel.tsx
  app/faq/FAQPageClient.tsx
  app/playbooks/page.tsx
  app/services/_components/ProcessSteps.tsx
  app/services/_components/ServiceHero.tsx
  app/services/_components/ServicePanel.tsx
  app/training/page.tsx
  package.json
  public/sitemap-0.xml
  tsconfig.tsbuildinfo
Due: prettier --write, eslint --fix

Perf: swap remaining .png small icons (ROI, FAQ hero, Services privacy) to sprite; build passes
  app/faq/page.tsx
  app/page.tsx
  app/services/page.tsx
  public/sitemap-0.xml
Due: prettier --write, eslint --fix

UI polish: SpriteIcon-based FeatureStrip, dimmer card-hero glare, hero-reveal animation; wired across Services/FAQ/Training/Playbooks
  README.md
  app/about/_components/AboutHero.tsx
  app/about/_components/EngagementTimeline.tsx
  app/about/_components/MediaKit.tsx
  app/about/_components/PrinciplesGrid.tsx
  app/about/_components/ResourcesDownloads.tsx
  app/about/_components/SecurityPanel.tsx
  app/faq/FAQPageClient.tsx
  app/faq/page.tsx
  app/home/_components/HomeHero.tsx
  app/home/_components/LeadMagnetSection.tsx
  app/home/_components/QuickLinks.tsx
  app/home/_components/ServicesGrid.tsx
  app/layout.tsx
  app/playbooks/page.tsx
  app/services/_components/FAQAccordion.tsx
  app/services/_components/ProcessSteps.tsx
  app/services/_components/ServiceHero.tsx
  app/services/_components/ServicePanel.tsx
  app/services/_components/helpers.tsx
  app/services/page.tsx
  app/training/page.tsx
  components/CTABox.tsx
  components/FeatureStrip.tsx
  components/Footer.tsx
  components/MotionToggle.tsx
  components/Nav.tsx
  components/ui/SpriteIcon.tsx
  package.json
  public/icons-sprite-hero.svg
  public/icons-sprite-ui.svg
  public/sitemap-0.xml
  scripts/asset-report.mjs
  scripts/build_svg_sprites.mjs
  scripts/move_final_icons.mjs
  scripts/smoke.mjs
  scripts/trace_public_icons.mjs
  styles/globals.css
  tsconfig.tsbuildinfo
Due: prettier --write, eslint --fix

Normalize About hero to card-hero + hero-reveal; remove Playbooks hero icon; unify hero H1 sizes and typography across pages
  app/about/_components/AboutHero.tsx
  app/faq/page.tsx
  app/playbooks/page.tsx
  public/sitemap-0.xml
  tsconfig.tsbuildinfo
Due: prettier --write, eslint --fix

UI: Align nav and document enhancements
  AGENTS.md
  CARD_ENHANCEMENTS.md
  DESIGN_AUDIT.md
  DESIGN_IMPROVEMENTS_SUMMARY.md
  NAV_FOOTER_ENHANCEMENTS.md
  README.md
  VISUAL_UX_ENHANCEMENTS.md
  app/_content/home.ts
  app/about/page.tsx
  app/cases/ai-assistant-calgary-retail/page.tsx
  app/cases/automation-pilot-ops/page.tsx
  app/cases/content.ts
  app/cases/page.tsx
  app/contact/page.tsx
  app/faq/page.tsx
  app/home/_components/CaseStudiesSection.tsx
  app/home/_components/ContactSection.tsx
  app/home/_components/HomeHero.tsx
  app/home/_components/TrustBar.tsx
  app/home/_content.ts
  app/page.tsx
  app/playbooks/page.tsx
  app/privacy/page.tsx
  app/security/page.tsx
  app/services/page.tsx
  app/terms/page.tsx
  app/training/page.tsx
  components/AssistantDemo.tsx
  components/Footer.tsx
  components/Nav.tsx
  components/ROICalculator.tsx
  components/RoiPrefillLink.tsx
  components/SimpleContactForm.tsx
  content/hero-proof.json
  lib/marketing.ts
  lib/roi.ts
  public/sitemap-0.xml
  styles/globals.css
  styles/tokens.css
  tsconfig.tsbuildinfo
Due: prettier --write, eslint --fix

Fix: Prevent hydration mismatch from scroll reveal
  components/ScrollReveal.tsx
  tsconfig.tsbuildinfo
Due: prettier --write, eslint --fix

Fix: Remove duplicate manifest.webmanifest
  public/manifest.webmanifest
Due: none

Fix: Defer ScrollReveal DOM mutations until idle
  components/ScrollReveal.tsx
Due: prettier --write, eslint --fix
